<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scoreboard</title>
</head>
<body>
    <header>Welcome to the Scoreboard app!</header>
    <button (click)="OnAdd()">Add</button>
    <button (click)="OnReset()">Reset</button>
    <main>
        @if(btnClicked === true){
            <app-form (close)="OnClose()" (submit)="OnSubmit($event)"/>
        }
        <app-boardholder *ngIf="Board" [Board]="Board" />
    </main>

</body>
</html>